In [16]:
"""Ejercicio 2.1.1 Define una lista que contenga al menos 4 elementos de todos los tipos de valores permitidos en Python"""
lista = ["hola", 1, 10.5, True]

In [27]:
"""2.1.2 Selecciona cada dos elementos (uno si otro no) desde el final de la lista"""
lista[::-2]

[True, 1]

In [28]:
"""2.1.3 Cambia solamente la posicion del primer elemento con el ultimo elemento de la lista"""
frst_elmnt = lista[0]
lst_elmnt = lista[-1]

lista[-1] = frst_elmnt
lista[0] = lst_elmnt

print(lista)

[True, 1, 10.5, 'hola']

In [30]:
"""2.2.1 Saca e imprime la edad de "Daniela" utilizando los datos del diccionario declarado en el siguiente ejemplo"""
dic_ejemplo = {'Alumnos': ["Carlos","Ana","Daniela","Martín"],
               'Curso': "Big Data",
               'Edad': ('22', '21', '20', '22'),
               'Presencial': True
               }

indice_daniela = dic_ejemplo['Alumnos'].index("Daniela")

print(dic_ejemplo['Edad'][indice_daniela])

20

In [33]:
"""2.2.2 Consulta si "Centro" se encuentra entre las claves existentes en el diccionario o no"""

if "Centro" in dic_ejemplo:
    print("SI ESTÁ")

In [36]:
"""2.2.3 Construye un set a partir de las edades de todos los alumnos y muestra el tamaño de esa coleccion"""

set_edad = set(dic_ejemplo['Edad'])

print(set_edad)
print(len(set_edad))

{'22', '20', '21'}
3

In [38]:
"""2.3.1 Recorre el lista del ejemplo y realiza las siguientes operaciones: [18,50,210,80,145,333,70,30]
    -Imprimir el número en caso de que sea mñúltiplo de 10 y menor que 200
    -Parar el programa si llega a un numero mayor que 300"""

lista_ejemplo = [18,50,210,80,145,333,70,30]

for num in lista_ejemplo:
    if num > 300:
        break
    elif num%10 == 0 and num < 200:
        print(num)

50
80

In [41]:
"""2.3.2 Considerando el contenido del listado list_2_3 escribe un programa para imprimir el siguiente patrón:

False
50
22.22
True
99
Anaconda"""
list_2_3 = ["Anaconda", 99, True, 22.22, 50, False]
list_2_3.reverse()
for x in list_2_3:
    print(x)

False
50
22.22
True
99
Anaconda

In [43]:
"""2.4.1 Escribe una funcion que devuelva el numero total de caracteres en un listado de cadenas de texto y aplicala sobre el ejemplo:
    -Entrada a la funcion ["PEP 8", "PEP 248","PEP 257"]
    -La salida esperada: 19"""

def total_caracteres(lista):
    total = 0
    for x in lista:
        total += len(x)
    
    return total

lista_ej = ["PEP 8", "PEP 248","PEP 257"]
print(total_caracteres(lista_ej))

19

In [44]:
"""2.4.2 Escribe una función lambda que sea capaz de recibir cuatro variables y retornar el valor máximo y aplícala sobre este ejemplo:
    -Entrada a la funcion: 143, 22, 6576, 111
    -La salida esperada: 6576"""

maximo = lambda x,y,z,d: max(x,y,z,d)
maximo(143,22,6576,111)

6576